<!DOCTYPE html>
<html>
     <head>
        <title>Mini Project</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body bgcolor="#F76363">
        <h3 align="center" style="color:black; font-size: 50px; height:20px; margin-top:0">Portfolio Maker</h3>
        
        <center>
            <a href="/" id="h">Home</a>
            <a href="/html/news.html" target="h" id="h">Market Status</a>
            <a href="/html/shares.html" target="h" id="h">Shares</a>
            <a href="/html/mutfund.html" target="h" id="h">Mutual Funds</a>
            <a href="/html/fixinc.html" target="h" id="h">Fixed Income</a>
            <a href="/html/tut.html" target="h" id="h">More Info</a>
            <a href="/html/cu.html" target="h" id="h">About Us</a>
        </center>
        <br>
        <iframe height="1000px" width="4%" frameborder="no"></iframe>
        <iframe style="border-radius: 10px; background-color:lightgreen;" name="h" src="/html/home.html" height="1300px" width="90%" frameborder="no"></iframe>
        <iframe height="1000px" width="4%" frameborder="no"></iframe>

    </body>
</html>