table { 
    border: 2px solid #000;
    border-collapse: separate;
    border-left: 0;
    border-radius: 20px;
    border-spacing: 0px;
    font-size: 20px;
    color: black;
    width: 60%;
    background-color:lightskyblue
}
button{
    color: yellow;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
}
body{
    font-family: Rockwell; 
    margin:20px 20px 20px 20px; 
    border:4px solid black; 
    border-radius: 20px; 
    overflow-x: hidden;
}

span{
    font-family: Rockwell;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
    border-radius: 20px;
    text-align: center;
    background-color:gold
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th, td {
    padding: 5px 4px 6px 4px; 
    text-align: center;
    vertical-align: center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
td {
    border-top: 1px solid #000;  
}
thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 20px 0 0  0  ;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0  20px;
}

.b{
    background-color:forestgreen;
    color: yellow;
}